
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d5e1ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    }
    




.card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 33%;
    padding: 10px;
} 


h1 {
    display: inline-block;
}

.card .text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;   
 text-align: center;
    font-size: 1.5rem;
    width: 75%;
}

.text p {
    color: rgb(35, 35, 35);
}



.card img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    padding: 0;
    margin: 0;
}

.attribution { font-size: 11px; text-align: center;
    display: none;

 
}
.attribution a { color: hsl(228, 45%, 44%); }




@media only screen and (max-width: 1100px) {

    .card img {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        padding: 0;
        margin: 0;
    }
    .card .text {
        font-size: 1rem;
    }
    
}




@media only screen and (max-width: 600px) {

    .card {
        width: 60%;
    }
    .card img {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        padding: 0;
        margin: 0;
    }
    .card .text {
        font-size: .9rem;
    }
    
}